nav {
    background-color: rgb(149, 138, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.catpro {
  width: 115px;
  height: auto;
}

.text p {
  margin: 10px 0;
}

.balance {
  width: 100px;
  height: auto;
}

.Balance {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.text_Ba p {
  margin: 10px 0;
}


.log-box textarea {
  width: 80%;
  height: 100px;
  font-family: monospace;
  resize: none;
}

.header {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 20px;
  margin: 20px 0;
}

.text_Ba input {
  width: 100px;
  margin-left: 10px;
}

.bank {
  width: 100px;
  margin-left: 10px;
}

.bankContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}
