nav {
    background-color: rgb(149, 138, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.catpro {
    width: 130px;
    height: auto;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 10px;
}