nav {
    background-color: rgb(149, 138, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.catpro {
  width: 100px;
  height: auto;
}

.text p {
  margin: 10px 0;
}

.balance {
  width: 100px;
  height: auto;
}

.Balance {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.text_Ba p {
  margin: 10px 0;
}